<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <base href="{{ base }}"/>
    {% if description %}
        <meta name="description" content="{{ description }}"/>
    {% endif %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}"/>
    {% endif %}
    <script src="catalog/view/javascript/jquery/jquery-3.7.0.min.js" type="text/javascript"></script>
    <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css"/>
    <link href="catalog/view/theme/antropy/stylesheet/stylesheet.css" rel="stylesheet">
    {% for style in styles %}
        <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
    {% endfor %}
    {% for script in scripts %}
        <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}
    <script src="catalog/view/javascript/common.js" type="text/javascript"></script>
    {% for link in links %}
        <link href="{{ link.href }}" rel="{{ link.rel }}"/>
    {% endfor %}
    {% for analytic in analytics %}
        {{ analytic }}
    {% endfor %}
</head>
<body>
<nav id="top">
    <div class="container">{{ currency }}
        {{ language }}
        <div class="header-top">
            <a href="index.php?route=product/category&path=1001" class="logo">АВТО<span>ПРОШИВКИ</span></a>

            <header>{{ search }}
            </header>

                <div class="user-actions">
                    <a class="btn action-btn" id="wishlist-btn" href="{{ wishlist }}"
                       title="{{ text_wishlist }}"><i class="fa fa-heart"></i><span
                                class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span></a>
                    {#                <a class="btn action-btn" id="cart-btn" href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i>🛒</i>{{ text_shopping_cart }}</a> #}
                    {{ cart }}
                    {% if logged %}
                        <li class="dropdown"><a href="{{ account }}" title="Профиль" class="btn action-btn"
                                                data-toggle="dropdown"><i class="fa fa-user"></i> <span
                                        class="hidden-xs hidden-sm hidden-md">Профиль</span> <span
                                        class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="{{ account }}">{{ text_account }}</a></li>
                                <li><a href="{{ order }}">{{ text_order }}</a></li>
                                <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
                                <li><a href="{{ download }}">{{ text_download }}</a></li>
                                <li><a href="{{ logout }}">{{ text_logout }}</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <div class="auth-buttons">
                            <a class="btn btn-outline" id="login-btn" href="{{ login }}">{{ text_login }}</a>
                            <a class="btn btn-primary" id="register-btn" href="{{ register }}">{{ text_register }}</a>
                        </div>
                    {% endif %}
                </div>
        </div>
    </div>
</nav>
{#{{ menu }}#}
